@import './theme-light.scss';
@import './theme-dark.scss';

:root {
  @include theme-light();

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark();
  }
}
